header{
  background-color: rgb(0, 0, 0);
  color: white;
  height: 350px;
  margin-bottom: 150px;
}
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid white;
  height: 100px;
  position: relative;
}
header .container h2{
  position: absolute;
  left: 2%;
  top: 30%;
  font-family: emoji;
}
header ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0; 
  font-size: smaller;
}
header a{
  color: white;
  padding: 20px 0px 15px 40px;
  font-weight: lighter;
}
#homeSection{
 
  background-color: #fff;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: -1122;
  height: 1000px;
}
#homeSection .container{
  display: flex;
  color: white;
}
.homeSection-img{
  width: 100%;
}
.img-title-Kayla{
  display: flex;
  margin: 90px 0px 0px 290px;
}
.kayla-img{
  width: 20%;
}
.titleKayla{
  margin-left: 200px;
  text-align: center;
}
.kaylaH1{
  font-family: emoji;
  font-size: 80px;
  color: rgb(207, 52, 5);
}
.kayla-p{
  font-size: 23px;
}
.iconNetwork{
  width: 100px;
  height: 50px;
  position: fixed;
  top: 42%;
  z-index: 1000;
}
.sod{
  width: 50%;
}
.iconTwitter{
  width: 25px;
  height:25px;
 margin: 15px 0px 20px 40px;
}
.swan {
  padding: 3%;
  margin: 0% auto;
  background: rgb(0, 0, 0);
  width: 900px;
  /* height: 800px; */
  opacity: 0.9;
  display: flex;
  color: #fff;
  position: relative;
}
.swan .container{
 
  display: flex;
  flex-direction: row;
}
.swan-title{
  letter-spacing: 2px;
  margin-top: 110px;
  font-weight: 100;
}
swan-title h2{
  font-family: emoji;
  color: aqua;
}
.swan-img{
  width: 400px;
  opacity: 4;
  margin-left: 100px;
}
.swanlogo{
  position: absolute;
  left: 0%;
  top: 9%;
  width: 250px;
}
.swan-text{
  margin-bottom: 30px;
}
.order{
  margin-top: 60px;
}
.swan-btn-push{
  border-color: rgb(207, 52, 5);
  color: rgb(207, 52, 5);
  margin: 10px;
  border-radius: 30px;
  width: 90px;
  padding: 5px 0px;
  border-style:groove;
  background: none;
}
.swan-btn-push:hover{
  background-color: rgb(207, 52, 5);
  color: #fff;
}
.praise{
  background-color: rgb(10, 2, 34);
  position: relative;
  margin-top: 150px;
}
.praise-icon{
  position: absolute;
  top: 0%;
  right: 15%;
  height: 100px;
}
#praise-icon{
  color: rgb(207, 52, 5);
  font-size: 60px;
}
.praise-text-h1{
  margin-top: 90px;
  color: rgb(207, 52, 5);
  text-align: center;
  letter-spacing: 2px;
}
.praise-texts{
  display: flex;
  
}
.praise-text{
  margin: 2%;
  text-align: center;
}
.praise-line{
  border-bottom: 1px solid white;
  width: 40%;
  margin:0 auto;
}
.qu{
  color: rgb(207, 52, 5);
  font-size: 130px;
}
.praise-p{
  color: rgb(255, 255, 255);
  margin-bottom: 50px;
}
.praise-q{
  color: rgb(207, 52, 5);
  font-size: 20px;
}

.see{
  background-color: rgb(0, 0, 0);
  color: #fff;
  text-align: center;
}
.see-block{
  margin:0 auto;
  display: flex;
  flex-direction: column;
}
.see-join{
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: 80%;
  height: 300px;
  padding: 6%;
  margin:4% 5% 3% 10%;
}
.see-join h4{
  margin-bottom: 50px;
}


.about{
  width: 100%;
  background-color: rgb(10, 2, 34);
  margin-top: 200px;
  padding: 20% 4% 4% 4%;
  position: relative;
}
.about-cs{
    width: 50%;
    padding: 0%;
    margin: 0% auto;
    height: 50%;
}
.about-h1{
  color: rgb(207, 52, 5);
  margin-bottom: 10%;
}
.about-p{
  letter-spacing: 2px;
  margin-bottom: 40px;
  font-size: 18px;
}
.about-btn{
  width: 200px;
}
.about-img{
  border-radius: 50%;
  position: absolute;
  top: -18%;
  left: 39%;
}
.footer{
  background-color: rgb(207, 52, 5); 
 
  color: black;
  text-align: center;
  padding: 2%;
}